#access {
    padding-bottom: 70px;
    background-color: $base-color;
}


.access-item__all {
    display: flex;
    height: 400px;
    @include tab {
        flex-direction: column-reverse;
        height: 100%;
    }
}




.access-item1 {
    width: 40%;
    background-color: #D0C5BA;
    padding: 8%;
    @include tab {
        width: 100%;
    }
    h3 {
            font-size: 24px;
            color: #00000038;
    }
    p {
        font-size: 16px;
        color: #ffffff;
        line-height: 40px;
        span {
             font-size: 24px;
            color: #00000038;
        }
    }
}

.access-item2 {
    width: 60%;
    @include tab {
        width: 100%;
    }
}


.access-coment {
    font-size: 24px;
    color: #00000038;
}