#access {
    background-color: $base-color;
    padding-bottom: 70px;
}

#access .inner {
    padding:60px 0%;
}

.access-wrap {
    display: flex;
    justify-content: space-between;
    padding: bottom 70px;
    height: 400px;
    @include sp {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;

    }
    .access-address {
        background-color: #D0C5BA;
        width: 40%;
        position: relative;
        @include sp {
            width: 100%;
            height: 50%;
        }
        h4 {
            font-size: 2.4rem;
            color: #00000038;
            padding-bottom: 30px;
            @include sp {
                padding-bottom: 0px;
            }
        }
    }
    p{
        letter-spacing: 1.6px;
        color: #ffffff;
        margin-top: 24px;
    }

    .access-map {
        width: 60%;
        @include sp {
            width: 100%;
        }
    }
}


.address-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    @include sp {
        width: 210px;
    }
}

