#concept {
    background: linear-gradient($base-color 50%, $basecolor2 50%);
    @include sp {
        margin-bottom: 60px;
    }
}

#concept .inner {
    @include sp {
        padding-top: 60px;
    }
}

.concept-img {
    display: flex;
    justify-content: space-between;
    @include sp {
        img {
            display: none;
        }
    }
}

.sp-img {
    height: 205px;
    display: none;
    @include sp {
        width: 100%;
        height: 100%;
    }
}


.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 375px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

.concept-coment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    letter-spacing: 1.6px;
    & p {
        width: 420px;
        color: #FFFFFF;
        @include sp {
            width: 100%;
            font-size: 16px;
        }
    }
    @include sp {
        flex-direction: column;
    }
    }

.concept-coment h3 {
        font-family: ヒラギノ明朝 Pro, W3;
        font-size: 4rem;
        letter-spacing: 1.6rem;
        line-height: 1.7rem;
        color: #FFFFFF;
        width: 440px;
        @include sp {
            width: 100%;
            font-size: 18px;
            text-align: center;
            padding-bottom: 18px;
        }
}

