#concept {
    background: linear-gradient($base-color 50%, $basecolor2 50%);
    color: #fff;
}



.concept-item1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.concept-item2 {
    display: flex;
    @include tab {
        flex-direction: column;
    }
}
.concept-text {
    font-size: 40px;
    width: 50%;
    letter-spacing: 16px;
    display: flex;
    justify-content: center;
    font-family: ヒラギノ明朝 Pro;
    @include tab {
        padding-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }
}

.concept-text2 {
    font-size: 16px;
    width: 50%;
    letter-spacing: 1.6px;
    height: 130px;
    text-align: left;
    @include sp {
        font-size: 16px;
    }
}

.concept-text , .concept-text2 {
    @include tab {
        width: 100%;
    }
}

.concept-img1 {
    img {
        width: 100%;
    }
}
.concept-img2 {
    img {
        width: 100%;
    }
}