#first-view {
    height: 800px;
    background-image: url("../salon-img/img1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    @include sp {
        height: 600px;
        background-image: none;
        background-image: url(../salon-img/sp-img1.png);
        background-position: left;
        background-size: cover;
    }
    img {
        width: 680px;
    }
    .inner {
        text-align: center;
    }
    @include sp {
        position: relative;
    }
}

.first-v__inner {
    @include tab {
        padding-top: 50%;
    }
    @include sp {
        padding-top: 0px;
        position: absolute;
        top: 50%;
    }
}


.first-v__item {
    width: 100%;
    height: 220px;
    position: absolute;
    left: -25%;
    @include tab {
        position: static;
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    @include sp {
        height: 130px;
    }
}

.first-v__text1 {
    font-size: 38px;
    font-family: ヒラギノ明朝 Pro;
    line-height: 65px;
    padding-bottom: 50px;
    @include sp {
        font-size: 23px;
        letter-spacing: 2.3px;
    }
}

.first-v__text2 {
    font-size: 38px;
    font-family: Zapfino ,Regular;
    line-height: 130px;
    @include sp {
        font-size: 28px;
        letter-spacing: 2.8px;
    }
}
