.footer-border {
    display: block;
     width: 100% - 8.3% *2;
    border-top: 1px solid;
    margin: 0 auto;
    margin-top: 165px;
    margin-bottom: 70px;
    color: #70707036;
   @include sp {
       margin-top: 60px;
   }
}

// 全体のwrap //
.footer-item {
    display: flex;
    align-items: center;
    width: 100% - 8.3% *2;
    margin: 0 auto;
    position: relative;
    padding-bottom: 70px;
    position: relative;
    @include tab {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        padding: 0%;
    }
}


// SALON BEPPUとアイコンに関する指定 //
.ft-text__wrap {
    display: flex;
    @include tab {
        width: 100%;
        justify-content: space-around;
        padding-bottom: 20px;
    }
}
.footer-logo {
    color: #7070704D;
    font-size: 32px;
    @include tab {
        font-size: 18px;
    }
}

.footer-fav {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.fa-twitter {
    margin-right: 10px;
}


// RESERVEボタン //
.ft-btn__wrap {
    position: absolute;
    right: 0;
    @include tab {
        position: static;
        padding-bottom: 70px;
    }
}

.ft-btn {
    min-width: 180px;
    border: 1px solid;
    padding: 10px 40px;
    p {
        font-size: 18px;
        color: $color;
    }
}