.footer-border {
    display: block;
     width: 100% - 8.3% *2;
    border-top: 1px solid;
    margin: 16.4rem auto;
    margin-bottom: 0%;
    color: #70707036;
}

.footer-item {
    display: flex;
}


.footer-logo {
    color: #7070704D;
    font-size: 3.2rem;
}

footer .inner {
    padding-top: 0%;
    margin-top: 8.4rem;
    display: flex;
    justify-content: space-between;
    @include sp {
        display: flex;
        flex-direction: column-reverse;
        .footer-logo, .fab {
            font-size: 18px;
            line-height: 22px;
        }
        .footer-item {
            display: flex;
        }
    }
}

.footer-btn {
    height: 37px;
    padding: 10px 40px;
    border: 1px solid;
    color: #707070;
}

footer .fab {
    line-height: 3.8rem;
}
.fa-twitter {
    margin:0 1rem 0 2rem; 
}
