header {
  height: 110px;
  display: flex;
  justify-content: space-around;
  width: 55%;
  align-items: center;
  padding-left:80px;
  padding-top: 70px;
  position: absolute;
  z-index: 1;
  @include sp {
    height: 70px;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    position: relative;
    .header-logo {
      font-size: 22px;
    }
  }
}



nav {
    width: 35%;
    @include sp {
      display: none;
    }

  ul {
    display: flex;
    li {
      color: $color;
    }
    li:not(:first-child) {
      margin-left: 20px;
  }
  }
}

.header-logo {
  font-size: 3.8rem;
  letter-spacing: 3.8px;
  }

// ホバーした時のcss //
.nav-menu li a {
	text-decoration: none;
	padding-bottom: 3px; /* 文字と下線に隙間を作る */
  display: block;
  
}
.nav-menu li a:after {
	content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 1px solid #000;
	display: block;
}
.nav-menu li a:hover:after {
	width: 100%;
  border-bottom: 1px solid #000;
}


.nav-menu li:hover {
  color: black;
}




// sp表示の時のハンバーガー //
  .ham {
    display: none;
    @include sp {
      width: 16px;
      height: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #3B4043;
      }
    }
  }