.header-wrap {
    display: flex;
    padding: 70px 80px;
    position: absolute;
    z-index: 1;
    @include tab {
      padding: 20px;
    }
    @include sp {
        justify-content: space-between;
        padding: 24px 0;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        position: static;
    }
}

.header-logo {
    font-size: 38px;
    line-height: 46px;
    @include tab {
        font-size: 22px;
        line-height: 26px;
        margin: 0 auto;
    }
}
.nav-menu ul {
    display: flex;
    line-height: 46px;    
    font-size: 1.8rem;
    color: $color;
    @include tab {
      line-height: 26px;
    }
    li {
        margin-left: 20px;
    }
}

.nav-menu {
    @include sp {
        display: none;
    }
}


// ホバーした時のcss //
.nav-menu li a {
	text-decoration: none;
	// padding-bottom: 1px; /* 文字と下線に隙間を作る */
    display: block;
}
.nav-menu li a:after {
	content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 1px solid #000;
	display: block;
}
.nav-menu li a:hover:after {
	width: 100%;
  border-bottom: 1px solid #000;
}


.nav-menu li:hover {
  color: black;
}



// sp表示の時のハンバーガー //
  .ham {
    display: none;
    @include sp {
      width: 16px;
      height: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #3B4043;
        &:last-child {
          width: 80%;
        }
      }
    }
  }