
///////////
// 共通  //
//////////
$color:#707070;//文字薄い色
$base-color:#A193861F;//背景色薄い色
$basecolor2:#A1938689;//背景濃い色

html {
    font-size: 62.5%;//10px
}

body {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
}


.title {
    display: flex;
    align-items: center;
    color: $color;
    margin-bottom: 11px;
    font-size: 1.8rem;
    line-height: 1.3rem;
    letter-spacing: 5.4px;
    &:after {
    display: inline-block;
    content: "";
    border-top: 1px solid $color;
    opacity: 1;
    width: 10rem;
    margin-left: 2rem;
    }
}

.inner {
    width: 100% - 8.3% *2;//8.3%は両端の余白
    margin: 0 auto;
    padding-top: 260px;
    padding-bottom: 70px;
}



///////////
//@mixin //
///////////

@mixin sp {
    @media screen and(max-width: 375px) {

        @content;
        
    }
    
}