///////////
//@mixin //
///////////


@mixin sp {
    @media screen and(max-width: 640px) {
        @content;
        
    }
}

@mixin tab {
    @media screen and(max-width: 760px){
            @content;
    }
}

// 変数 //

$color:#707070;
$base-color:#A193861F;//背景色薄い色
$basecolor2:#A1938689;//背景濃い色



// 共通  //
html {
        max-width: 1440px;
        font-size: 62.5%;
        font-weight: normal;
        scroll-behavior: smooth;
}


 .inner {
    width: 100% - 8.3% *2;//8.3%は両端の余白
    margin: 0 auto;
    padding-top: 260px;
    padding-bottom: 70px;
    @include tab {
        padding-top: 60px;
        width: 90%;
    }
    @include sp {
        padding-bottom: 0%;
    }
}

.title {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $color;
    line-height: 24px;
    padding-bottom: 10px;
    @include sp {
        padding-bottom: 50px;
    }
    &:after {
    display: inline-block;
    content: "";
    border-top: 1px solid $color;
    opacity: 1;
    width: 2em;
    margin-left: 20px;

    }
}