.menu-item__all {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
        width: 100%;
    }
}

.menu-item {
    width: 270px;
    height: 550px;
    @include sp {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }
}

.menu-item__img {
    img{
        width: 100%;
    }
}

.menu-item__title {
    font-size: 30px;
    text-align: center;
    padding: 35px 0;
}

.menu-item__desc {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.2em;
    padding-bottom: 34px;
    @include sp {
        line-height: 1.5;
    }
} 

.price {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

// 画像切り替え //
.pc-img { display: block !important; }
.sp-img { display: none !important; }

@media  screen and (max-width: 760px) {
    .pc-img { display: none !important; }
    .sp-img { display: block !important; }
}
