#menu .inner {
    @include sp {
        padding-top: 0px;
    }
}


.menu-item__all {
    display: flex;
    justify-content: space-between;
    @include sp {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    }


.menu-item {
    width: 30%;
    &__title {
        font-size: 3rem;
        letter-spacing: 0.3rem;
        line-height: 3em;
    }
    &__img {
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    @include sp {
        width: 100%;
    }
}

//text//
.menu-item__desc {
    letter-spacing: 1.6px;
    padding: 0 30px 30px 30px;
}

//title//
.menu-item__title {
    text-align: center;
}

//値段//
.price {
    display: flex;
    justify-content: flex-end;
}

